<div class="div-center" style="  margin-left: auto;
margin-right: auto;
margin-top: 5%;
width: 30%;
background-color: rgba(175, 175, 163, 0.4);
padding: 20px;">
<form ng-submit="login(loginCtrl.loginDto)">
	<div class="form-group center">
		<span class="signin-font-size" style="font-size: x-large;">Sign In | Sign Up</span>
	</div>
	<div class="form-group">
		<label for="userEmail">Email</label>
		<input type="email" class="form-control" placeholder="Email" ng-model="loginCtrl.loginDto.email" required> </div>
		<div class="form-group">
			<label for="userPassword">Password</label>
			<input type="password" class="form-control" placeholder="Password" ng-model="loginCtrl.loginDto.password" required> </div>
			<button class="btn btn-block btn-primary">Sign in</button>
			<div class="form-group"></div>
		</form>
		<div class="form-group"></div>
		<button class="btn btn-block btn-success" data-ng-click="goToHomePage()">Sign Up</button>
	</div>
